<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.valentinkt.sunapp" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.valentinkt.sunapp.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.valentinkt.sunapp.modules.notification.ui.NotificationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.productdetail.ui.ProductDetailActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.navbar.ui.NavBarActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.valentinkt.sunapp.modules.landingpage.ui.LandingPageActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.valentinkt.sunapp.modules.recommendationsfreecontainer.ui.RecommendationsFreeContainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.checkoutone.ui.CheckoutOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.checkout.ui.CheckoutActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.subscriptionsshivam.ui.SubscriptionsShivamActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.cartfinal.ui.CartFinalActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.orderplaced.ui.OrderPlacedActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.ecommercehome.ui.ECommerceHomeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.homepage.ui.HomePageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.login.ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.myaccount.ui.MyAccountActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.cart.ui.CartActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.subscriptiondetailsshivam.ui.SubscriptionDetailsShivamActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.valentinkt.sunapp.modules.healthmonitor.ui.HealthMonitorActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
